@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>




    <meta name="viewport" content="width=device-width" />
    <title>layouttry</title>
</head>

<body>
    <style>
        #title1{
            float:left;
        }
    </style>
    <div>

        <a id="title1" href="#">File Focci</a>
        <h4>All Contacts</h4>
    </div>
</body>
</html>
